/* BACKGROUND */
.backdrop {
  background: #333333;
  filter: alpha(opacity=90);
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.background {
  background-image: url("../img/bg-img.jpg");
}
